# Data exploration of Climate Risk Viewer

In [1]:
#libraries

import pandas as pd
import numpy as np
import geopandas as gpd
import requests
import pyarrow

# To do

## Select a few layers we want to work with census

## identify values that we can transform

## Find features that will help us merge the data

## Calculate an index based on weight of each value that is overlaped

## Map the index

In [2]:
# downloading files from the CRV

58500

In [25]:
#trying to identify counties by latitude/longitude coordinates using TIGER/Line Shapefile, 2019, nation, U.S., Current County and Equivalent National Shapefile from data.gov

# Load the shapefile
gdf = gpd.read_file('tl_2019_us_county/tl_2019_us_county.shp') #file is too large to commit; download from https://catalog.data.gov/dataset/tiger-line-shapefile-2019-nation-u-s-current-county-and-equivalent-national-shapefile

gdf.head()

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,31,039,00835841,31039,Cuming,Cuming County,06,H1,G4020,NaN,NaN,NaN,A,1477652222,10690952,+41.9158651,-096.7885168,"POLYGON ((-97.01952 42.00410, -97.01952 42.004..."
1,53,069,01513275,53069,Wahkiakum,Wahkiakum County,06,H1,G4020,NaN,NaN,NaN,A,680962890,61582307,+46.2946377,-123.4244583,"POLYGON ((-123.43639 46.23820, -123.44759 46.2..."
2,35,011,00933054,35011,De Baca,De Baca County,06,H1,G4020,NaN,NaN,NaN,A,6016819475,29089486,+34.3592729,-104.3686961,"POLYGON ((-104.56739 33.99757, -104.56772 33.9..."
3,31,109,00835876,31109,Lancaster,Lancaster County,06,H1,G4020,339,30700,NaN,A,2169270569,22849484,+40.7835474,-096.6886584,"POLYGON ((-96.91075 40.78494, -96.91075 40.790..."
4,31,129,00835886,31129,Nuckolls,Nuckolls County,06,H1,G4020,NaN,NaN,NaN,A,1489645188,1718484,+40.1764918,-098.0468422,"POLYGON ((-98.27367 40.08940, -98.27367 40.089..."

In [69]:
#load state FIPS info from https://gist.github.com/dantonnoriega/bf1acd2290e15b91e6710b6fd3be0a53#file-us-state-ansi-fips-csv

fips = pd.read_csv("data/us-state-ansi-fips.csv")
fips['ST'] = fips['ST'].str.replace(' ', '')
fips.head()

   STATE_NAME  FP  ST
0     Alabama   1  AL
1      Alaska   2  AK
2     Arizona   4  AZ
3    Arkansas   5  AR
4  California   6  CA

In [70]:
fips.FP = [str(num).zfill(2) for num in fips.FP]

In [71]:
fips.head()

   STATE_NAME  FP  ST
0     Alabama  01  AL
1      Alaska  02  AK
2     Arizona  04  AZ
3    Arkansas  05  AR
4  California  06  CA

In [72]:
fips = fips[['FP','ST']]

In [64]:
gdf.shape

(3233, 18)

In [65]:
gdf_CA = gdf[gdf['STATEFP']=='06']

In [5]:
gdf_CA.shape

(58, 18)

In [6]:
gdf_CA.to_csv('gdf_CA.csv')

In [7]:
gdf_CA.to_parquet('gdf_CA.parquet.gzip',
              compression='gzip')  
#pd.read_parquet('df.parquet.gzip')

In [55]:
str(fips['ST'][1])

' AK'

In [73]:
fips[fips['ST'] == 'CA']

   FP  ST
4  06  CA

In [113]:
def filter_state(state):
    fp_state = fips[fips['ST'] == state]
    gdf_state = gdf[gdf['STATEFP'] == str(fp_state.iloc[0,0])]
    
    return state, gdf_state

In [112]:
filter_state('IL')

17

('IL',
      STATEFP COUNTYFP  COUNTYNS  GEOID       NAME          NAMELSAD LSAD  \
 85        17      067  00424235  17067    Hancock    Hancock County   06
 92        17      025  00424214  17025       Clay       Clay County   06
 131       17      185  00424293  17185     Wabash     Wabash County   06
 148       17      113  01784833  17113     McLean     McLean County   06
 158       17      005  00424204  17005       Bond       Bond County   06
 ...      ...      ...       ...    ...        ...               ...  ...
 2901      17      111  01784815  17111    McHenry    McHenry County   06
 2922      17      015  00424209  17015    Carroll    Carroll County   06
 2987      17      047  00424225  17047    Edwards    Edwards County   06
 2996      17      071  00424237  17071  Henderson  Henderson County   06
 3090      17      077  00424240  17077    Jackson    Jackson County   06

      CLASSFP  MTFCC CSAFP CBSAFP METDIVFP FUNCSTAT       ALAND    AWATER  \
 85        H1  G4020   161  22800      NaN        A  2055798692  53563370
 92        H1  G4020   NaN    NaN      NaN        A  1212815740   3271820
 131       H1  G4020   NaN    NaN      NaN        A   578403998  10973558
 148       H1  G4020   145  14010      NaN        A  3064600918   7801224
 158       H1  G4020   476  41180      NaN        A   985073265   6462629
 ...      ...    ...   ...    ...      ...      ...         ...       ...
 2901      H1  G4020   176  16980    16984        A  1562786765  19872668
 2922      H1  G4020   NaN    NaN      NaN        A  1153597403  55881824
 2987      H1  G4020   NaN    NaN      NaN        A   576012469    781202
 2996      H1  G4020   161  15460      NaN        A   981077355  42557372
 3090      H1  G4020   NaN  16060      NaN        A  1511439610  48312227

          INTPTLAT      INTPTLON  \
 85    +40.4013180  -091.1688008
 92    +38.7468187  -088.4823254
 131   +38.4458209  -087.8391674
 148   +40.4945594  -088.8445391
 158   +38.8859240  -089.4365916
 ...           ...           ...
 2901  +42.3242982  -088.4522450
 2922  +42.0709000  -089.9241894
 2987  +38.4170954  -088.0479408
 2996  +40.8144710  -090.9412464
 3090  +37.7860959  -089.3812119

                                                geometry
 85    POLYGON ((-91.37421 40.46399, -91.37385 40.464...
 92    POLYGON ((-88.69517 38.82630, -88.69516 38.826...
 131   POLYGON ((-87.94460 38.44581, -87.94405 38.446...
 148   POLYGON ((-89.26650 40.48555, -89.26653 40.486...
 158   POLYGON ((-89.36179 39.02772, -89.35987 39.027...
 ...                                                 ...
 2901  POLYGON ((-88.23789 42.49489, -88.23428 42.494...
 2922  POLYGON ((-90.16133 42.10972, -90.16135 42.110...
 2987  POLYGON ((-88.14813 38.44393, -88.14812 38.445...
 2996  POLYGON ((-91.01390 40.89562, -91.01324 40.896...
 3090  POLYGON ((-89.64979 37.86879, -89.64637 37.874...

 [102 rows x 18 columns])

In [15]:
def get_county_name(latitude, longitude):
    point = gpd.GeoDataFrame(geometry=gpd.points_from_xy([longitude], [latitude]))
    county = gdf_CA[gdf_CA.contains(point.unary_union)]
    return county['NAME'].iloc[0] if not county.empty else None

# Example usage
latitude = 37.7749  # Example latitude
longitude = -122.4194  # Example longitude

county_name = get_county_name(latitude, longitude)
print("County Name:", county_name)

County Name: San Francisco

Exploring NorWeST_Stream_Temperatures_2040s_(Feature_Layer) downloaded as csv file from https://data-usfs.hub.arcgis.com/datasets/0cd39b50f7bb4539aac2a472bc93afe0_1/explore?location=39.832923%2C-112.988051%2C5.95

In [6]:
stream = pd.read_csv("NorWeST_Stream_Temperatures_2040s_Feature_Layer.csv")

In [7]:
stream.head()

,OBJECTID,OBSPRED_ID,S1_93_11,S30_2040D,S32_2080D,COMID,GNIS_NAME,NHDV,SHAPELEN
0,49243889,100189,21.30,21.65,21.91,15934665,,2,0.010215
1,49243890,100190,21.41,21.76,22.03,15934665,,2,0.010162
2,49243891,100191,21.50,21.85,22.11,15934665,,2,0.010135
3,49243892,100192,21.58,21.93,22.19,15934665,,2,0.009902
4,49243893,100193,21.62,21.98,22.24,15934665,,2,0.009975